.mat-tab-group {
    margin-bottom: 48px;
  }

  .example-card {
    max-width: 400px;
  }

  mat-card {
    margin: auto;
    width: 50%;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  mat-card-title {
    text-align: center;
  }
  